.li-card {
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  background-color: white;

  border: 2px solid rgba(31, 31, 31, 0.253);
  border-radius: 10px;

  .div-info-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 77%;
    height: 80%;

    h3 {
      display: flex;
      gap: 5px;
      p {
        font-weight: normal;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }

    .span-email,
    .span-telephone {
      p {
        color: black;
        font-weight: normal;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
  }

  .div-remove-card {
    width: 13%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .button-edit {
      color: rgb(6, 6, 184);
    }

    button {
      background-color: unset;
      border: unset;
      color: red;
      padding: 0;

      svg {
        width: 20px;
        height: 15px;
        cursor: pointer;
      }
    }
  }
}
